<!DOCTYPE >
<html>
<head>
<title>Web Service</title>
<link rel="stylesheet" href="./css/style.css">
<script src="./js/jsfile.js"></script>
</head>
<body>
 {{>header}}
<h1>My First Heading</h1>
<img src="./images/my.jpg">
 

{{>footer}}
</body>
</html>