<!DOCTYPE >
<html>
<head>
<title>Web Service</title>
<link rel="stylesheet" href="./css/style.css">
<script src="./js/jsfile.js"></script>
</head>
<body>
 {{>header}}
<h1>My First Heading</h1>
<p>Helps goes here</p>

{{>footer}}
</body>
</html>