<html>

<head>
    <title>Web Service</title>
    <link rel="icon" href="/images/weather.png">
    
    <link rel="stylesheet" href="/css/style.css">
 </head>
<div class="main-content">
    {{>header}}

    <p>Use this site to get your weather!</p>
<p id="msg-1"></p>
<p id="msg-2"></p>
    <form>
        <input placeholder="Location" id="search">
        <button>Search</button>
    </form>
</div>

{{>footer}}

 <script src="/js/jsfile.js"></script>

</body>
  
</html>